<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Dodaj kategoriju</h2>
<a href="/admin/kategorije" class="btn btn-primary">Vrati se na sve kategorije</a>
<br><br>

<form method="post" action ="/admin/kategorije/dodaj-kategoriju">
    
    <div class ="form-group">
        <label for ="">Ime</label>
        <input type ="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    
    <div class ="form-group">
        <label for ="">Opis</label>
        <textarea name="desc" class="form-control" id="ta" cols="30" rows="10" placeholder="Opis"><%= desc %></textarea>
    </div>
    
    <button class="btn btn-outline-dark">Posalji</button>
</form>

<%- include('../_layouts/adminfooter') %>