<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="generator" content="Jekyll v3.8.5">

        <title> Admin panel </title>

        <link rel="shortcut icon" type="image/png" href="https://www.freepngimg.com/download/machine/41036-7-paintball-free-clipart-hq.png"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/adminstyle.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Hunter Prodavnica</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/stranice">Stranice <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/kategorije">Kategorije <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/proizvodi">Proizvodi <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/korisnici">Korisnici <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/korisnici/odjava"><font color="white">Odjavi se</font></a>  
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <%- messages('messages', locals) %>

            <% if (errors) {%>
            <% errors.forEach(function(error) { %>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>
            <% }); %>
            <% } %>
