<% include _layouts/header %>

<h1><%= title %></h1>

<form method="post" action ="/korisnici/prijava">
    
    <div class ="form-group">
        <label for ="">Korisnicko ime</label>
        <input type="text" name="username" class="form-control" placeholder="Korisnicko ime">
    </div>
    
    <div class ="form-group">
        <label for ="">Lozinka</label>
        <input type="password" name="password" class="form-control" placeholder="Lozinka">
    </div>
    <br>
    <button class="btn btn-outline-dark">Prijavi se</button>
</form>
    <br><br><br><br><br><br><br>
<% include _layouts/footer %>